# /etc/systemd/system/sensor.service
[Unit]
Description=Sensor
#Wants=mysql.service
#After=mysql.service

[Service]
User=root
NoNewPrivileges=true
#WorkingDirectory=
ExecStart=/opt/SensorOnTencentCloud/sensor.sh
Restart=on-failure
RestartPreventExitStatus=23
LimitNPROC=500
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
